/* add your CSS here */
.main {
	width: 310px;
}
.facts {
	font-style: italic;
}
.label {
	font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}
.bord {
	border-radius: 1em;
	border-style: solid;
	padding: 5px;
}